.field-errors {
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
}

.table tbody tr th, .table tbody tr td {
    border: none;
}

.photo-user-normal{
    width: 100%;
    padding: 3px;
}

.photo-user-tiny{
    width: 35px;
    padding: 2px;
}

.photo-remark{
    background-color: #80bdff;
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
}

.message-item{
    padding-bottom: 5px;
    position: absolute;
    width: 100%;
    z-index: 999;
}

.alert-error{
    background: #eba19c;
    color:#ff0000;
}

.datetime{
    color: grey;
}

A:link, A:visited, A:active {
    text-decoration: none;
}

.note-tab-a{
    text-align: center;
}



