{% extends "gundam_heaven/layout.html" %}
{% block body %}
{% load i18n %}
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
                <p class="alert-warning" style="padding: 10px;">{% trans "Note that the email should be the same with your information, if you haven't set your email, please set it first." %}</p>
                <form method="post" role="form">
                    {% csrf_token %}
                    <div class="form-row">{{ form.email.errors }}</div>
                    <div class="form-row" style="padding-bottom: 20px;">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{% trans 'Email address:' %}</span>
                            </div>
                            {{ form.email }}
                        </div>
                    </div>
                    <button class="btn btn-outline-primary float-right" type="submit">{% trans 'Reset my password' %}</button>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
{% endblock %}
