<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="h3 text-center">{{ form_title }}</div>
            <form action="{{ action }}" method="post" role="form">
                <div>
                    <ul class="list-unstyled">
                    {% for error in form.non_field_errors %}
                        <li class="alert-danger" style="padding: 10px;border-radius: 10px;">{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <ul class="list-unstyled alert-danger field-errors">
                                {% for error in field.errors %}
                                    <li class="small">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    {% if next %}
                        <input hidden="hidden" value="{{ next }}" name="next"/>
                    {% endif %}
                {% endfor %}
                <button class="btn btn-outline-primary" type="submit">{{ btn_text }}</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>


<script>
    $('form select').addClass('custom-select');
</script>