{% extends 'gundam_heaven/layout.html' %}
{% load article_tags %}
{% block body %}
<style>

</style>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-2">
                        <a class="btn btn-outline-primary{% if user == article.author %} disabled{% endif %}" id="btn_like_article" href="javascript:void(0);">
                            {% if article|liked_by:user %}
                                <i class="fa fa-thumbs-up"></i> <span>{{ like_amt }}</span>
                                <p hidden="hidden">unlike</p>
                            {% else %}
                                <i class="fa fa-thumbs-o-up"></i> <span>{{ like_amt }}</span>
                                <p hidden="hidden">like</p>
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-8 h4">{{ article.title }}</div>
                    {% if user != article.author %}
                        <div class="small col-2" style="padding-top: 10px;">Author: <a href="{% url 'gundam_heaven:show_user' article.author.id %}">{{ article.author.userinfo.nickname }}</a></div>
                    {% endif %}
                </div>
                <hr>
            <!-- article content -->
                <div class="row">
                    <div>{{ article.content }}</div>
                </div>
                <div class="comment-list">
                    {% include 'gundam_heaven/_comment_list.html' with display='comment_list'%}
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
<script>
    $('#btn_like_article').on('click', function(){
        var cur_obj = $(this);
        var action = $.trim(cur_obj.children('p').text());
        if(action == 'like'){
            var counter_action = 'unlike';
            var new_fa = 'fa fa-thumbs-up';
        }else{
            var counter_action = 'like';
            var new_fa = 'fa fa-thumbs-o-up';
        }
        $.ajax({
            type: 'post',
            url: "{% url 'gundam_heaven:like-article' pk=article.id %}",
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'visitor': {{ user.id }}, 'action': action},
            success: function(ret_data){
                if(ret_data.result == 'success'||ret_data.result == 'failure'&&ret_data.error == 'already like'){
                    cur_obj.children('i').removeClass();
                    cur_obj.children('i').addClass(new_fa);
                    cur_obj.children('p').text(counter_action);
                    cur_obj.children('span').text(ret_data.like_amt);
                }else {

                }
            }
        })
    });

</script>
{% endblock %}