{% extends 'gundam_heaven/layout.html' %}
{% load article_tags %}
{% block body %}
<style>

</style>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-2">
                        <a class="btn btn-outline-primary{% if user == article.author %} disabled{% endif %}" id="btn_like_article" href="javascript:void(0);">
                            {% if article|liked_by:user %}
                                <i class="fa fa-thumbs-up"></i> <span>{{ like_amt }}</span>
                                <p hidden="hidden">unlike</p>
                            {% else %}
                                <i class="fa fa-thumbs-o-up"></i> <span>{{ like_amt }}</span>
                                <p hidden="hidden">like</p>
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-8 h4">{{ article.title }}</div>
                    {% if user != article.author %}
                        <div class="small col-2" style="padding-top: 10px;">Author: <a href="{% url 'gundam_heaven:user-detail' article.author.id %}">{{ article.author.userinfo.nickname }}</a></div>
                    {% endif %}
                </div>
                <hr>
            <!-- article content -->
                <div class="row">
                    <div>{{ article.content }}</div>
                </div>
            <!-- comment submit -->
                <div style="padding-top: 30px;">
                    <form action="{% url 'gundam_heaven:comment-article' pk=article.id %}" method="post" role="form" id="comment_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Comment: </label>
                            <textarea class="form-control" style="resize: none;" name="comment" id="comment_content"></textarea>
                        </div>
                        <button class="btn btn-outline-secondary float-right" type="submit">Submit</button>
                    </form>
                </div>
            <!-- comment display -->
                <div style="padding-top: 30px;">
                    <div style="padding-bottom: 10px;">Comment List : </div>
                    <ul class="list-group">
                        {% for comment in comments %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{% url 'gundam_heaven:user-detail' comment.commentor.id %}">
                                            <img src="{{ comment.commentor.userinfo.photo.url }}" class="img-thumbnail img-fluid photo-user-tiny"/>
                                            {{ comment.commentor.userinfo.nickname }}
                                        </a>
                                        {% if comment.commentee %}
                                        <small> reply to </small>
                                        <a href="{% url 'gundam_heaven:user-detail' comment.commentee.id %}">
                                            <img src="{{ comment.commentee.userinfo.photo.url }}" class="img-thumbnail img-fluid photo-user-tiny"/>
                                        {{ comment.commentee.userinfo.nickname }}
                                        </a>
                                        {% endif %}
                                    </div>
                                    <div class="col-6">
                                        <small class="float-right">Floor : {{ comment.floor }}</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8"></div>
                                    <div class="col-2">
                                        <a id="reply_{{ comment.commentor.id }}" class="small float-right btn_reply" href="javascript:void(0);"><i class="fa fa-reply fa-lg"></i> Reply</a>
                                    </div>
                                    <div class="col-2">
                                        <a class="small float-right" href="javascript:void(0);"><i class="fa fa-comments fa-lg"></i> Full Chat</a>
                                    </div>
                                </div>
                                {{ comment.content }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-4"></div>
        </div>
    </div>
<script>
    $('#btn_like_article').on('click', function(){
        var cur_obj = $(this);
        var action = $.trim(cur_obj.children('p').text());
        if(action == 'like'){
            var counter_action = 'unlike';
            var new_fa = 'fa fa-thumbs-up';
        }else{
            var counter_action = 'like';
            var new_fa = 'fa fa-thumbs-o-up';
        }
        $.ajax({
            type: 'post',
            url: "{% url 'gundam_heaven:like-article' pk=article.id %}",
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'visitor': {{ user.id }}, 'action': action},
            success: function(ret_data){
                if(ret_data.result == 'success'||ret_data.result == 'failure'&&ret_data.error == 'already like'){
                    cur_obj.children('i').removeClass();
                    cur_obj.children('i').addClass(new_fa);
                    cur_obj.children('p').text(counter_action);
                    cur_obj.children('span').text(ret_data.like_amt);
                }else {

                }
            }
        })
    });

    $('.btn_reply').on('click', function(){
        var full_id = $.trim($(this).attr('id'));
        var id = full_id.substr(full_id.lastIndexOf('_')+1);
        $('#comment_content').focus();
        $('#comment_form').append('<input hidden="hidden" name="commentee" value="'+id+'">');
    });
</script>
{% endblock %}