{% extends 'gundam_heaven/user_detail.html' %}
{% block user %}
    <div class="col-3">
        <ul class="list-group favorite-folder-list">
            <li class="list-group-item list-group-item-info">
                Favorite Folders<a href="javascript:void(0);" id="btn_add_favorite_folder"><i class="fa fa-plus-square fa-lg float-right"></i></a>
            </li>
            <li class="list-group-item" id="new_favorite_folder_item" style="display: none;">
                <form role="form" onsubmit="return false" action="#" id="new_favorite_folder_form">
                    {% csrf_token %}
                    <div class="input-group">
                        <input id="new_favorite_folder_input" type="text" name="folder_name" required="required">
                        <div class="input-group-append">
                            <button id="new_favorite_folder_btn" class="btn btn-outline-secondary" onclick="add_favorite_folder(this)">Add</button>
                        </div>
                    </div>
                </form>
            </li>
            {% if folders %}
                {% for folder in folders %}
                    <div id="folder-item-{{ folder.id }}" class="folder-item list-group-item  {% if current_folder == folder.id %} active {% endif %}">
                        <a style="color: gold;" class="font-weight-bold" href="?folder={{ folder.id }}">{{ folder.name }}</a>
                        {% if folder.name != 'Default' %}
                            <a href="javascript:void(0);" class="float-right btn-colon" style="color: #0b2e13;"> :  : </a>
                            <button class="btn btn-danger btn-block btn-delete-folder" style="margin-top: 20px;display: none">delete</button>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <li class="list-group-item">Default</li>
            {% endif %}
        </ul>

    </div>
    <div class="col-6">
        {% include 'gundam_heaven/_article_list.html' %}
    </div>
    <div class="col-3"></div>
<script>
    $('#btn_add_favorite_folder').on('click', function(){
        var display = $('#new_favorite_folder_item').css('display');
        if(display == 'none'){
            $('#new_favorite_folder_item').show();
            $('#new_favorite_folder_input').focus();
            $(this).children('i').removeClass('fa-plus-square');
            $(this).children('i').addClass('fa-minus-square');
        }else{
            $('#new_favorite_folder_item').hide();
            $(this).children('i').removeClass('fa-minus-square');
            $(this).children('i').addClass('fa-plus-square');
        }
    });

    function add_favorite_folder(obj){
        var cur_obj = $(obj);
        var folder_name = cur_obj.parents('div').siblings('#new_favorite_folder_input').val();
        $.ajax({
           url: "{% url 'gundam_heaven:add_favorite_folder' %}",
           type: "post",
           data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'folder_name': folder_name },
           success: function(ret_data){
               if(ret_data.result == 'success') {
                   if(ret_data.name != 'Default'){
                       $('#new_favorite_folder_item').after('<li id="folder-item-'+ret_data.id+'" class="folder-item list-group-item"><a style="color: gold;" class="font-weight-bold" href="?folder=' + ret_data.id + '">' + ret_data.name + '</a><a href="javascript:void(0);" class="float-right btn-colon" style="color: #0b2e13;"> :  : </a>\n' +
                           '                            <button class="btn btn-danger btn-block btn-delete-folder" style="margin-top: 20px;display: none">delete</button></li>');
                   }else {
                       $('#new_favorite_folder_item').after('<li id="folder-item-'+ret_data.id+'" class="folder-item list-group-item"><a style="color: gold;" class="font-weight-bold" href="?folder=' + ret_data.id + '">' + ret_data.name + '</a></li>');
                   }
               }else if(ret_data.result == 'failure'){

               }
           },
        });
    }

    $('.favorite-folder-list').on('click', '.btn-colon', function () {
        var cur_obj = $(this);
        var btn_delete = cur_obj.siblings('button');
        var display = btn_delete.css('display');
        if(display == 'none'){
           btn_delete.show();
        }else{
            btn_delete.hide();
        }
    });


    $('.favorite-folder-list').on('click', '.btn-delete-folder', function () {
        var tgt_obj = $(this).parents('.folder-item');
        var id_raw = tgt_obj.attr('id');
        var id = parseInt(id_raw.substring(id_raw.lastIndexOf('-')+1));
        var new_url = "{% url 'gundam_heaven:favorite_list' id=owner.id %}";
        $.ajax({
            url: "{% url 'gundam_heaven:delete_favorite_folder' %}",
            type: "post",
            data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "folder_id": id },
            success: function(ret_data){
                if(ret_data.result == 'success'){
                    location.replace(new_url);
                }
            },
            error: function(){},
        });
    });
</script>
{% endblock %}